@import "tailwindcss";
@font-face {
  font-family: 'SF PRO TEXT 400';
  src: url('/fonts/SF Pro Text 400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF PRO DISPLAY 700';
  src: url('/fonts/SF PRO DISPLAY 700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF PRO DISPLAY 600';
  src: url('/fonts/SF PRO DISPLAY 600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Causten Regular';
  src: url('/fonts/Causten-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  --border-radius: 25px;
}

body {
  font-family: "SF PRO TEXT 400", sans-serif;
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 0px;
}

section {
  width: 100%;
  height: 100vh;
  pointer-events: all;
  padding: 0 10vw;
  position: relative;
  overflow: hidden;
  background-color: #010101;
}

.link {
  text-decoration: none;
}

/* HIDE ON DESKTOP/MOBILE */

.hide-on-desktop {
  display: none;
}
.hide-on-mobile {
  display: flex;
}

/* LOADING SCREEN DESKTOP */

.website-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 400;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #010001;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  pointer-events: all;
}

.website-loading-video {
  position: relative;
  width: 20%;
}

.website-loading-screen--hidden {
  animation: fade-out 0.25s ease-in-out forwards 0.25s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* CALENDLY */

.calendly-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  padding-top: 10vh;
}

.calendly-overlay-widget {
  height: 65vh;
  max-width: 425px;
  max-height: 575px;
  background-color: #1a1a1a;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.calendly-inline-widget {
  height: 65vh;
  min-width: 425px;
  max-height: 575px;
}

.calendly-overlay-widget-border {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
}

.calendly-overlay-widget-scrollbar-hider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25px;
  background-color: #1a1a1a;
  z-index: 99;
  pointer-events: none;
}

.calendly-overlay-widget-button {
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #1a1a1a;
  box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 2.5vw rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.calendly-overlay-widget-button:hover {
  background-color: #222222;
}

.calendly-overlay-widget-button-icon {
  width: 1vw;
  height: 1vw;
  color: white;
  transition: 0.5s ease;
}

.calendly-overlay-widget-button:hover .calendly-overlay-widget-button-icon {
  transform: rotate(90deg);
}

/* ANIMATION PRESETS */

.opacity-blur {
  opacity: 0;
  filter: blur(8px);
}

.opacity {
  opacity: 0;
}

/* CAROUSEL */

.embla__progress {
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  height: 0.25vh;
  justify-self: flex-end;
  align-self: center;
  width: 100%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
  border-radius: 999px;
}
.carousel-button {
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  color: #ffffff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.carousel-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: rgba(255, 255, 255, 0.025);
}
.carousel-button-icon {
  width: 0.5vw;
  height: 0.5vw;
  object-fit: contain;
}

/* CURSOR */

.hover-cursor {
  position: fixed;
  width: fit-content;
  height: fit-content;
  border-radius: 999px;
  background-color: transparent; 
  pointer-events: none; 
  transform: translate(-50%, -50%) scale(0); 
  opacity: 0; 
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vh 1.5vw;
  box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05), 0 0 20px 5px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(5px);
  white-space: nowrap;
}

/* BUTTONS */

.button {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 1vw;
  padding-right: 0.5vw;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  gap: 1vw;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.025);
  color: white;
  box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.1);
}

.button-circle {
  width: 1.75vw;
  height: 1.75vw;
  border-radius: 100%;
  background-color: white;
  color: #010101;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  position: relative;
}

.button-icon {
  height: 1vw;
  width: 1vw;
  transition: 0.5s ease;
}

.button:hover .button-icon {
  rotate: 360deg;
}

.button:hover .button-icon-180 {
  rotate: 135deg;
}

.button-content {
  transition: 0.5s ease;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: fit-content;
  text-decoration: none;
  user-select: none;
}

.button span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.button span:nth-child(2) {
  position: absolute;
}

.button:hover span:nth-child(1) {
  transform: translateY(-100%);
}

.button:hover span:nth-child(2) {
  transform: translateY(-100%);
}

/* TEXTBOX */

.textbox {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  align-items: center;
  text-align: center;
  align-self: center;
}

.titlebox {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.titlebox-gradient {
  width: 12vw;
  height: 11vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.titlebox-medium-gradient {
  width: 17vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.titlebox-big-gradient {
  width: 20vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.subpage-titlebox-gradient {
  width: 12vw;
  height: 11vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.subheadline-box {
  width: fit-content;
  height: fit-content;
  padding: 0.5vh 0.75vw;
  border-radius: 999px;
  box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 1vw rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 0.25vw;
}

.subheadline-box-icon {
  width: 0.8vw;
  height: 0.8vw;
  color: rgba(255, 255, 255, 0.5);
}

/* CONTACT BUTTON */

.contact-button-wrapper {
  width: 10vw;
  height: fit-content;
  display: flex;
  pointer-events: all;
}

.contact-button-white {
	height: 2.5vw;
	padding: 0;
	display: grid;
	border-radius: 25px;
	border: 2px solid white;
	cursor: pointer;
	position: relative;
	background: white;
	color: black;
  outline-color: black;
  outline-offset: 0.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 3vh;
}


.contact-button-white:is(:hover, :focus-visible) {
	--active: 1;
}

.contact-button-white:active {
  --pressed: 1;
}

.contact-button-white > span:nth-of-type(1) {
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	inset: 0;
  /* scale: calc(1 - (var(--pressed, 0) * 0.05)); */
  /* transition: scale 0.1s; */
}

.contact-button-white:is(:hover, :focus-visible) .contact-button-container-white {
	width: 100%;
}

.contact-button-container-white {
	--mask-image: url(https://assets.codepen.io/605876/chev-mask_1.png);
	--spread: 1.25vw;
	--size: 1vw;
	width: 2.25vw;
	height: 100%;
	background: black;
	position: absolute;
	left: 0;
	transition: width 0.5s;
	border-radius: 25px;
	container-type: inline-size;
}

.contact-button-primary-white {
	content: "";
	position: absolute;
	inset: 0;
	background: hsl(0 100% 100% / 0.25);
	z-index: 2;
	mask: var(--mask-image) 50% 50% / var(--size) var(--size) no-repeat;
	container-type: inline-size;
}

:where(.contact-button-primary-white, .contact-button-complimentary-white)::after {
	--distance: calc(100cqi + 100%);
	content: "";
	height: calc(var(--size) * 4);
	aspect-ratio: 1;
	position: absolute;
	left: 0%;
	top: 50%;
	translate: -50% -50%;
	background: radial-gradient(hsl(0 100% 100%), transparent);
	animation: fly-by calc((2 - var(--active, 0)) * 2s) infinite linear;
}

@keyframes fly-by {
	0% { translate: -100% -50%; }
	100% { translate: var(--distance) -50%; }
}

.contact-button-complimentary-white {
	content: "";
	position: absolute;
	inset: 0;
	opacity: var(--active, 0);
	transition: opacity 0.5s;
	background: hsl(0 100% 100% / 0.25);
	mask:
		var(--mask-image) calc(50% - (var(--spread) * 1)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% - (var(--spread) * 2)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% - (var(--spread) * 3)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% + (var(--spread) * 1)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% + (var(--spread) * 2)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% + (var(--spread) * 3)) 50% / var(--size) var(--size) no-repeat;
}

.contact-buttonv-button-white > span:nth-of-type(2) {
	padding: 0 1.1rem 0 calc(58px + 1.1rem);
	display: grid;
	place-items: center;
	height: 100%;
}

/* COLORS */
.white {
  color: white;
}

.black {
  color: #010101;
}

.purple {
  color: #aaa3ff;
}

.grey {
  color: rgba(255, 255, 255, 0.5);
}

.background-gradient-down {
  background-image: radial-gradient(125% 107.13% at 50% 20%, transparent 40%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.25) 100%); 
}
.background-gradient-up {
  background-image: radial-gradient(131.66% 109.77% at 50% 97.75%, transparent 37.41%, rgba(255, 255, 255, 0.1) 69.27%, rgba(255, 255, 255, 0.25) 100%);
}
.background-gradient-side {
  background-image: radial-gradient( 100% 120% at 85% 125%, rgba(255, 255, 255, 0.25), transparent 70%);
}

.background-gradient-circle {
  background-color: rgba(255, 255, 255, 0.25);
  filter: blur(100px);
  opacity: 0.7;
  bottom: 0;
  flex: none;
  height: 25vh;
  overflow: visible;
  position: absolute;
  left: 0;
  width: 20vw;
  pointer-events: none;
  z-index: 0;
}

.background-gradient-circle-2 {
  background-color: rgba(255, 255, 255, 0.25);
  filter: blur(100px);
  opacity: 0.7;
  bottom: 0;
  flex: none;
  height: 25vh;
  overflow: visible;
  position: absolute;
  right: 0;
  width: 20vw;
  pointer-events: none;
  z-index: 0;
}

.background-gradient-circle-3 {
  background-color: rgba(255, 255, 255, 0.25);
  filter: blur(100px);
  opacity: 0.7;
  bottom: 0;
  flex: none;
  height: 30vh;
  overflow: visible;
  position: absolute;
  right: 0;
  width: 13vw;
  pointer-events: none;
  z-index: 0;
}

/* TEXTS */

.headline {
  position: relative;
  font-size: 5vw;
  margin: 0;
  font-weight: auto;
  line-height: 100%;
  font-family: "SF PRO DISPLAY 700", sans-serif;
  color: white;
}

.subheadline {
  font-size: 3.25vw;
  margin: 0;
  font-weight: auto;
  line-height: 110%;
  font-family: "SF PRO DISPLAY 700", sans-serif;
}

.small-subheadline {
  font-size: 2vw;
  margin: 0;
  font-weight: 600;
  line-height: 100%;
  font-family: "SF PRO DISPLAY 600", sans-serif;
}

.big-description {
  width: 75%;
  font-size: 1.15vw;
  font-weight: 400;
  margin: 0;
  line-height: 115%;
  font-family: "SF PRO TEXT 400", sans-serif;
}

.description {
  font-size: 1.05vw;
  font-weight: 400;
  margin: 0;
  /* line-height: 115%; */
  font-family: "SF PRO TEXT 400", sans-serif;
}

.small-description {
  font-size: 0.95vw;
  font-weight: 400;
  margin: 0;
  font-family: "SF PRO TEXT 400", sans-serif;
}

.hover-text-grey {
  position: relative;
  cursor: pointer;
}

.hover-text-grey::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.15vh;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-text-grey:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-text-white {
  position: relative;
  cursor: pointer;
}

.hover-text-white::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.15vh;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-text-white:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* LOADING SCREEN */

.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #010101;
}

.loading-image-box {
  width: 17.5vw;
  height: 17.5vw;
  overflow: hidden;
  position: relative;
}

.loading-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* NAVIGATION */

.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  z-index: 10;
  transition: background-color 0.3s ease, height 0.3s ease, backdrop-filter 0.3s ease;
  perspective: 500px;
}

.navigation-inside {
  width: 100%;
  height: 8vh;
  border: 1px solid rgba(255, 255, 255, 0.075);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 5vw rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5vw;
  padding-right: 1.5vh;
  border-radius: 999px;
  transform: rotateY(30deg) scale(0.6) rotateX(7.5deg) translateY(-12.5vh);
  opacity: 0;
}

.navigation-inside-left {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 0.25vw;
}

.navigation-inside-left-image {
  width: auto;
  height: 3.5vh;
}

.navigation-inside-right {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-inside-right-mobile {
  display: none;
}

.navigation-inside-big {
  display: flex;
  gap: 1vw;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* NAVIGATION OVERLAY */

.menu-container {
  display: none;
}

/* FOOTER */

.footer {
  padding: 0 10vw;
  padding-bottom: 5vh;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content-left, .footer-content-right {
  width: 50%;
  height: fit-content;
  display: flex;
  gap: 1.5vh;
}

.footer-content-left {
  padding: 0 15vw 0 0;
  flex-direction: column;
}

.footer-logo {
  width: 4vw;
}

.footer-content-right {
  justify-content: end;
  gap: 5vw;
}

.footer-content-right-column {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.footer-column-contents {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.footer-column-contents-item {
  width: fit-content;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 1vw;
}

.footer-socials-icon {
  width: 1.5vw;
  height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
}

/* BACKGROUND GRADIENT */

.gradients-container {
  filter: blur(40px) ;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  --circle-size: 80%;
  --circle-size-small: 60%;
  --blending: hard-light;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size-small) / 2);
  left: calc(50% - var(--circle-size-small) / 2);
  transform-origin: center center;
  animation: moveVertical 20s ease infinite;
  opacity: 1;
  }

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.075) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size-small) / 2);
  left: calc(50% - var(--circle-size-small) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size-small);
  height: var(--circle-size-small);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 30s linear infinite;
  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size-small);
  height: var(--circle-size-small);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 30s ease infinite;
  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.025) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size-small) * 2);
  height: calc(var(--circle-size-small) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@media (max-width: 768px) {

/* HIDE ON DESKTOP/MOBILE */

.hide-on-desktop {
  display: flex;
}
.hide-on-mobile {
  display: none;
}

/* CURSOR */

.hover-cursor {
  display: none;
}

/* OVERALL */

section {
  width: 100%;
  height: 200vw;
  padding: 0 5vw;
}

/* TEXTS */

.headline {
  font-size: 10vw;
  font-weight: 700;
}

.subheadline {
  font-size: 7.5vw;
  font-weight: 700;
}

.small-subheadline {
  font-size: 5vw;
  font-weight: 600;
}

.big-description {
  width: 100%;
  font-size: 3.5vw;
  font-weight: 400;
}

.description {
  font-size: 3.25vw;
  font-weight: 400;
}

.small-description {
  font-size: 3.25vw;
  font-weight: 400;
}

/* NAVIGATION */

.navigation-wrapper {
  width: 100vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  perspective: 500px;
}

.navigation-inside {
  height: 12.5vw;
  padding: 0 2.5vw;
  padding-right: 2.5vw;
}

.navigation-inside-left-image {
  width: auto;
  height: 7.5vw;
}

.navigation-inside-big {
  gap: 1vw;
}

.navigation-inside-big, .navigation-inside-right {
  display: none;
  opacity: 0;
}

.navigation-inside-right-mobile {
  position: absolute;
  top: 0;
  right: 4vw;
  height: 100%;
  width: 6.5vw;
  padding: 3.5vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-inside-right-mobile-line {
  width: 100%;
  height: 1px;
  background-color: white;
}

/* NAVIGATION OVERLAY */

.menu-container {
  position: fixed;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 9;
  backdrop-filter: blur(0px);
  transition: 0.5s ease;
  overflow: hidden;
  display: flex;
}

.menu-container.open {
  height: 300vw;
  backdrop-filter: blur(10px);
}

.menu {
  position: absolute;
  top: 20vw;
  left: 5vw;
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10vw;
  z-index: 10;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 10vw 5vw;
  border: 1px solid rgba(255, 255, 255, 0.075);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 5vw rgba(255, 255, 255, 0.05);
  pointer-events: all;
  gap: 5vw;
  justify-content: center;
  width: 100%;
  height: fit-content;
  pointer-events: all;
  z-index: 22;
}

.menu-navigation-text {
  font-family: "SF PRO DISPLAY 600", sans-serif;
  font-weight: 600;
}

.menu-social {
  width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 5vw 0;
  border: 1px solid rgba(255, 255, 255, 0.075);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 5vw rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-evenly;
  pointer-events: all;
  z-index: 20;
}

.menu-social-icon {
  width: 10vw;
  height: 10vw;
  color: white;
}

.menu-bars {
	position: relative;
	display:  inline-block;
	width: 100%;
	height: 1px;
}
.menu-bars span {
	margin: 0 auto;
	position: relative;
	top: 2.5vw;
}
.menu-bars span:before, .menu-bars span:after {
	position: absolute;
	content: '';
}
.menu-bars span, .menu-bars span::before, .menu-bars span::after {
	width: 100%;
	height: 1px;
	background-color: white;
	display: block;
}

.menu-bars span:before {
	margin-top: -2.5vw;
}
.menu-bars span:after {
	margin-top: 2.5vw;
}

.example5 span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5.menu-open span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5 span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5.menu-open span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.example5 span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5.menu-open span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

/* BUTTONS */

.button {
  height: 10vw;
  padding: 0 5vw;
  padding-right: 2.5vw;
  z-index: 2;
  gap: 2.5vw;
}

.button-circle {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  background-color: white;
  color: #010101;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-icon {
  height: 2.5vw;
  width: 2.5vw;
}

.button:hover .button-icon {
  rotate: 0;
}

.button:hover .button-icon-180 {
  rotate: 0;
}

.button-navigation {
  padding: 0 2vw;
  padding-right: 2.5vw;
}

.button:hover span:nth-child(1) {
  transform: translateY(0%);
}

.button:hover span:nth-child(2) {
  transform: translateY(0%);
}

/* TEXTBOX */

.textbox {
  gap: 2.5vw;
}

.titlebox-gradient {
  width: 12vw;
  height: 11vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.titlebox-medium-gradient {
  width: 17vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.titlebox-big-gradient {
  width: 20vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.subpage-titlebox-gradient {
  width: 12vw;
  height: 11vw;
  border-radius: 50%;
  background-color: #010101;
  filter: blur(50px);
  opacity: 0.85;
  position: absolute;
  right: -5vw;
  bottom: -7.5vw;
  z-index: 1;
}

.subheadline-box {
  padding: 1.5vw 2.5vw;
  gap: 1.5vw;
}

.subheadline-box-icon {
  width: 3vw;
  height: 3vw;
}

/* CONTACT BUTTON */

.contact-button-wrapper {
  width: 50vw;
}

.contact-button-white {
	height: 10vw;
	border-radius: 25px;
	border: 2px solid white;
  padding-left: 5vw;
}

.contact-button-container-white {
	--spread: 1.25vw;
	--size: 4vw;
	width: 9vw;
}

/* CAROUSEL */

.embla__progress {
  height: 0.5vw;
}
.carousel-button {
  width: 7.5vw;
  height: 7.5vw;
}
.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.carousel-button-icon {
  width: 2.5vw;
  height: 2.5vw;
}

/* FOOTER */

.footer {
  padding: 0 5vw;
  padding-bottom: 10vw;
  gap: 5vw;
}

.footer-content {
  flex-direction: column;
  gap: 5vw;
}

.footer-content-left, .footer-content-right {
  width: 100%;
  gap: 2.5vw;
}

.footer-content-left {
  padding: 0;
}

.footer-logo {
  width: 20vw;
}

.footer-content-right {
  justify-content: space-between;
  gap: 5vw;
}

.footer-content-right-column {
  gap: 2.5vw;
}

.footer-column-contents {
  gap: 1vw;
}

.footer-socials {
  display: flex;
  gap: 2.5vw;
}

.footer-socials-icon {
  width: 5vw;
  height: 5vw;
}

/* BACKGROUND GRADIENT */

.g1 {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
  }

.g2 {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
}

.g3 {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.175) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
}

.g4 {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
}

.g5 {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 50%) no-repeat;
}

}