.initial-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #010101;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial-loading-screen.fade-out {
    animation: fade-out 0.25s ease-in-out forwards 0.25s;
  }
@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

.border-padding {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
}

.section-border {
    width: 80vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.normal-padding {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #010101;
}

/* HERO SECTION */

.hero {
    padding-top: 10vh;
    padding-bottom: 0;
    position: relative;
}

.hero-background-element-small {
    width: 40vh;
    height: 160vh;
    border-radius: 100%;
    background-color: #fefeff29;
    filter: blur(100px);
    opacity: 1;
    position: absolute;
    left: 170vh;
    margin-top: -77.5vh;
    z-index: 0;
    transform: rotate(40deg);
    z-index: 0;
}
  
.hero-background-element-grid-small {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 75vh;
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
    background-size: 50px 50px;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    -webkit-mask-composite: destination-in;
    mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    mask-composite: intersect;

}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5vh;
    position: relative;
}

.hero-content-row {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.hero-content-left, .hero-content-right {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    position: relative;
    justify-content: center;
}

.hero-textbox {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    user-select: none;
}

.hero-titlebox {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.hero-titlebox-gradient {
    width: 19vw;
    height: 16vw;
    border-radius: 50%;
    background-color: #010101;
    filter: blur(50px);
    opacity: 0.8;
    position: absolute;
    right: -5vw;
    bottom: -7.5vw;
    z-index: 1;
}

.hero-headline {
    z-index: 0;
    opacity: 0;
    font-size: 60px;
}

.hero-buttons-row {
    display: flex;
    gap: 1vw;
}

.hero-content-right {
    cursor: pointer;
    overflow: hidden;
}

.hero-content-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 2.5vh;
    left: 0;
}

.hero-content-bottom-item {
    width: fit-content;
    height: 5vh;
    padding: 0 2vw;
    border-radius: 99px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.025);
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.hero-content-bottom-image {
    height: 2.5vh;
    width: auto;
}

/* SHOWREEL */

.showreel {
    height: fit-content;
    padding: 0 10vw;
}

.showreel-content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.showreel-content-container {
    width: 100%;
    height: 100vh;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 2000px;
}

.showreel-content-videobox {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: rotateY(30deg) scale(0.6) rotateX(2.5deg) translateY(10vh);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showreel-content-videobox-background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #010101;
    border-radius: 25px;
}
  
.showreel-content-videobox-trail {
    width: 25vw;
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(
      100% 100% at right,
      rgba(255, 255, 255, 1),
      transparent 50%
    );
    offset-path: border-box;
    offset-anchor: 100% 50%;
    animation: journey var(--speed, 12s) infinite linear;
}
  
@keyframes journey {
    to {
        offset-distance: 100%;
    }
}

.showreel-content-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 25px;
    padding: 0.1vw;
}

.showreel-video-playbutton {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #010101;
    transition: background-color 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.showreel-video-playbutton:hover {
    background-color: white;
    width: 6vw;
    height: 6vw;
}

.showreel-video-playbutton-icon {
    width: 1.25vw;
    height: 1.25vw;
}

.showreel-content-row {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 2.5vw;
}

.showreel-content-row-item {
    width: 18.125vw;
    height: 18.125vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    gap: 1vh;
    z-index: 1;
    position: relative;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    background-image: radial-gradient(140% 107.13% at 50% 10%, transparent 40%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.1) 100%); 
    overflow: hidden;
}

.showreel-content-row-item-grid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19vw;
    height: 19vw;
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 4vw 4vw; /* Adjust this value to change the grid size */
    background-position: center;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    -webkit-mask-composite: destination-in;
    mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    mask-composite: intersect;
}

.showreel-content-row-item-image {
    width: auto;
    height: 7.5vw;
}

/* SERVICES */

.services {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.services-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.services-content-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
}

.services-content-container-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 1;
}
.services-content-container-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 1;
}
.services-content-container-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 1;
}
.services-content-container-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 1;
}

.services-content-video {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 0;
}

/* PROJECTS */

.projects {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    position: relative;
    padding: 0;
}
.projects-mobile {
    display: none;
}
.projects-desktop {
    display: flex;
}

.projects-content {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.projects-gradient-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 5;
}

.projects-gradient-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 5;
}

.project-content-wrapper {
    width: 100%;
    height: 120vh;
    display: flex;
}

.projects-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.projects-carousel-row {
    display: flex;
    width: 100%;
}

.projects-carousel-item {
    flex: 0 0 100vw;
    min-width: 0;
    height: 100%;
    background-color: #010101;
    user-select: none;
}

.projects-carousel-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.embla__dots {
    display: flex;
    gap: 0.5vw;
    position: absolute;
    bottom: 5vh;
    z-index: 5;
}
.embla__dot {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: 0.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
}
.embla__dot:after {
    background-color: rgba(255, 255, 255, 0.25);
    width: 0.9vh;
    height: 0.9vh;
    display: flex;
    align-items: center;
    border-radius: 999px;
    content: '';
    transition: width 0.75s ease, background-color 0.5s ease;
    transform-origin: center;
}
.embla__dot--selected:after {
    width: 2vw;
    background-color: white;
}

/* TECHSTACK SECTION */

.techstack {
    height: fit-content;
    display: flex;
}

.techstack-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5vh;
}

.techstack-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    perspective: 2000px;
}

.techstack-item-big, .techstack-item-small {
    border-radius: 25px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    display: flex;
    padding: 4vw;
    position: relative;
    overflow: hidden;
}

.techstack-item-big {
    width: 80vw;
    height: 50vh;
}

.techstack-item-small {
    width: 39.5vw;
    height: 70vh;
}

.techstack-item-small-border-radius {
    border-radius: 25px;
}

.techstack-item-no-padding {
    padding: 0;
}

.techstack-item-no-padding-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 10vw rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-radius: 25px;
    pointer-events: none;
}

.techstack-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.techstack-item-content-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.techstack-item-content-textbox {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.techstack-item-content-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.techstack-item-content-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.techstack-item-cards {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 5000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: 15vh;
}

.techstack-item-card {
    position: absolute;
    backdrop-filter: blur(10px);
    width: 25vw;
    height: 19vh;
    border-radius: 25px;
    transition: 0.75s ease;
    user-select: none;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.15), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: transparent;
    padding: 3vh 2vw;
}

.techstack-item-card-1 {
    opacity: 0;
}
.techstack-item-card-2 {
    margin-bottom: 5vh;
}
.techstack-item-card-3 {
    opacity: 0;
}

.techstack-item-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .32s cubic-bezier(0.25,0.46,0.45,0.94);
}

.techstack-item-card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techstack-item-card-content-top-image {
    width: 1.5vw;
    height: 1.5vw;
    object-fit: contain;
}

.techstack-item-card-content-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
}

.techstack-item-card-animated-1 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-225px) translateX(calc(10% + 5%)) translateY(-15%);
    margin-left: -6vw;
    margin-bottom: 1.5vh;
    opacity: 1;
}
.techstack-item-card-animated-2 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-15%);
    margin-left: -6vw;
    margin-bottom: 0;
}
.techstack-item-card-animated-3 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(225px) translateX(calc(10% - 3%)) translateY(-15%);
    margin-left: -6vw;
    margin-bottom: -1.5vh;
    opacity: 1;
}

.techstack-item-card-animated-hover {
    transition: .32s cubic-bezier(0.25,0.46,0.45,0.94);
}

.techstack-item-card-animated-1:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-225px) translateX(calc(10% + 5%)) translateY(-45%);
}
.techstack-item-card-animated-2:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-40%);
}
.techstack-item-card-animated-3:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(225px) translateX(calc(10% - 3%)) translateY(-30%);
}

.techstack-item-content-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5vh;
}

.techstack-item-content-column-slider {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.techstack-item-content-column-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.25;
    object-fit: cover;
}

.techstack-item-content-column-slider-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.techstack-item-content-column-slider-carousel-row {
    display: flex;
    width: 100%;
}

.techstack-item-content-column-slider-item {
    flex: 0 0 7vw;
    min-width: 0;
    height: 7vw;
    border-radius: 10px;
    user-select: none;
    margin-left: 2vw;
}

.techstack-item-content-column-slider-item-child {
    width: 100%;
    height: 100%;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    user-select: none;
}

.techstack-item-content-column-slider-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.techstack-item-content-column-textbox {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.techstack-item-content-column-border {
    width: 100%;
    height: 1px;
    background-color: white;
}

.techstack-item-content-column-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techstack-item-content-column-bottom-button {
    width: fit-content;
    height: 2.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: none;
    background-color: rgba(255, 255, 255, 0.025);
    color: white;
    box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.techstack-item-content-column-bottom-left, .techstack-item-content-column-bottom-center, .techstack-item-content-column-bottom-right {
    width: 20%;
    display: flex;
    height: fit-content;
    align-items: center;
}

.techstack-item-content-column-bottom-center {
    justify-content: center;
}

.embla__dots-small {
    display: flex;
    gap: 0.5vw;
}

.embla__dot-small {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: 0.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
}
.embla__dot-small:after {
    background-color: rgba(255, 255, 255, 0.25);
    width: 0.9vh;
    height: 0.9vh;
    display: flex;
    align-items: center;
    border-radius: 999px;
    content: '';
    transition: width 0.75s ease, background-color 0.5s ease;
    transform-origin: center;
}
.embla__dot--selected-small:after {
    width: 2vw;
    background-color: white;
}

.techstack-item-big-no-gradient {
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075);
}

/* TESTIMONIALS */

.testimonials {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.testimonials-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.testimonials-content-textbox {
    padding: 0 10vw;
}

.testimonials-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.testimonials-carousel-row {
    display: flex;
    gap: 1vw;
    width: 100%;
}

.testimonials-item-padding {
    flex: 0 0 9vw;
    min-width: 0;
}

.testimonials-item {
    flex: 0 0 34vw;
    min-width: 0;
    height: 24vw;
    padding: 2.5vw;
    border-radius: 25px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    background-image: radial-gradient(140% 107.13% at 50% 10%, transparent 40%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.1) 100%); 
    user-select: none;
    transition: background-color 0.5s ease;
    overflow: hidden;
    position: relative;
}

.testimonials-item-grid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24vw;
    height: 24vw;
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 5.2vw 5.2vw;
    background-position: center;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    -webkit-mask-composite: destination-in;
    mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    mask-composite: intersect;
}

.testimonials-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.testimonials-item-last {
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    overflow: hidden;
    position: relative;
}

.testimonials-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.testimonials-item-profile {
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.testimonials-item-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-item-center {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.testimonials-item-content-last {
    text-align: center;
    align-items: center;
    z-index: 1;
}

.testimonials-content-bottom {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10vw;
    gap: 2.5vw;
}

.testimonials-content-bottom-buttons {
    display: flex;
    gap: 0.5vw;
}

/* KPI SECTION */

.kpi {
    height: fit-content;
    display: flex;
    position: relative;
}

.kpi-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5vh;
    position: relative;
}

.kpi-content-row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    perspective: 2000px;
}

.kpi-content-item {
    width: 26vw;
    height: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}

.kpi-item-textbox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.kpi-item-textbox-top {
    display: flex;
    flex-direction: column;
}

.kpi-item-textbox-number {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    margin-bottom: -2vh;
    z-index: 0;
}

.kpi-item-textbox-number-text {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 15%, #fff 80%);
}

.kpi-item-textbox-top-text {
    position: relative;
    z-index: 1;
}

.kpi-item-textbox-number-gradient {
    width: 100%;
    height: 7.5vw;
    border-radius: 50%;
    background-color: #010101;
    filter: blur(20px);
    opacity: 0.85;
    position: absolute;
    right: 0;
    bottom: -6vw;
    z-index: 1;
}

.kpi-item-button {
    position: absolute;
    z-index: 1;
    bottom: 2vw;
    left: 2vw;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.kpi-item-button-icon {
    width: 1vw;
    height: 1vw;
    color: white;
}

.kpi-item-grid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 26vw;
    height: 22vw;
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 5.2vw 5.2vw;
    background-position: center;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    -webkit-mask-composite: destination-in;
    mask-image: linear-gradient(to right, transparent, #010101 10%, #010101 90%, transparent), linear-gradient(to bottom, transparent, #010101 10%, #010101 90%, transparent);
    mask-composite: intersect;
}

/* FLOWER */

.flower {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.flower-content {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    gap: 1vw;
    position: relative;
}

.flower-content-sequence {
    width: 100%;
    height: 100%;
}

.image-sequence-canvas {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.flower-content-textbox {
    position: absolute;
    bottom: 12.5vh;
    left: 12.5vw;
    padding: 2vw;
    gap: 1vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
}

.flower-content-textbox-item {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.flower-content-right-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
    row-gap: 0.5vh;
}

.flower-content-right-content-item {
    width: 5vw;
    height: 7.5vh;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.flower-content-right-content-item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 100%;
    object-fit: cover;
}

/* SUBSCRIBE */

.subscribe {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.subscribe-content {
    width: 100%;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 0 4vw;
    gap: 4vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.subscribe-content-mobile {
    display: none;
}

.subscribe-content-slider {
    height: 100%;
    width: 17.5vw;
    display: flex;
    flex-shrink: 0;
    position: relative;
    align-items: center;
}

.subscribe-content-slider-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    /* position: absolute; */
}

.subscribe-content-slider-item {
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    border-radius: 25px;
}

.subscribe-content-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5vh;
}

.subscribe-content-center-textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.subscribe-content-center-bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    text-align: center;
}

.subscribe-content-center-button {
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    border-radius: 999px;
    padding: 0 2.5vw;
    padding-right: 0.75vw;
}

.subscribe-content-center-button-box {
    width: fit-content;
    height: 2.5vw;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1vw 1vw;
    border-radius: 999px;
}

@media (max-width: 768px) {

.border-padding {
    height: 50vw;
    width: 100%;
}

.section-border {
    width: 90vw;
}

.normal-padding {
    height: 25vw;
    width: 100%;
}

/* HERO SECTION */

.hero {
    padding: 0 10vw;
    padding-top: 15vw;
    position: relative;
    height: 190vw;
}

.hero-background-element-small {
    width: 50vw;
    height: 250vw;
    filter: blur(50px);
    left: 90vw;
    margin-top: -150vw;
}
  
.hero-background-element-grid-small {
    width: 80vw;
    height: 100vw;
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
}

.hero-content-row {
    height: 140vw;
    display: flex;
    flex-direction: column-reverse;
}

.hero-content-left, .hero-content-right {
    width: 100%;
    height: 100%;
    gap: 3.5vw;
    justify-content: center;
}

.hero-content-left {
    height: fit-content;
}

.hero-textbox {
    gap: 3.5vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-titlebox-gradient {
    width: 25vw;
    height: 22.5vw;
    border-radius: 50%;
    background-color: #010101;
    filter: blur(35px);
    opacity: 1;
    position: absolute;
    right: -5vw;
    bottom: -7.5vw;
    z-index: 1;
}

.hero-buttons-row {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}

.hero-content-bottom {
    bottom: 2.5vw;
}

.hero-content-bottom-item {
    height: 10vw;
    padding: 0 5vw;
    margin-left: 2.5vw;
}

.hero-content-bottom-image {
    height: 4.5vw;
    width: auto;
}
 
/* SHOWREEL */

.showreel {
    padding: 0 5vw;
}

.showreel-content {
    gap: 2.5vw;
}

.showreel-content-container {
    height: 150vw;
    border-radius: 15px;
}

.showreel-content-videobox {
    transform: rotateY(30deg) scale(0.6) rotateX(2.5deg) translateY(25vw);
    border-radius: 15px;
}

.showreel-content-videobox-background {
    border-radius: 15px;
}

.showreel-content-video {
    border-radius: 15px;
}

.showreel-video-playbutton {
    width: 10vw;
    height: 10vw;
}

.showreel-video-playbutton:hover {
    background-color: rgba(255, 255, 255, 0.15);
    width: 10vw;
    height: 10vw;
}

.showreel-video-playbutton-icon {
    width: 3vw;
    height: 3vw;
}

.showreel-content-row {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 2.5vw;
}

.showreel-content-row-item {
    width: 20.625vw;
    height: 20.625vw;
    border-radius: 10px;
}

.showreel-content-row-item-grid {
    width: 20.625vw;
    height: 20.625vw;
}

.showreel-content-row-item-image {
    width: auto;
    height: 7.5vw;
}

/* SERVICES */

.services {
    width: 100%;
}

.services-content {
    gap: 5vw;
}

.services-content-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.services-content-container-top {
    height: 2.5vw;
}
.services-content-container-bottom {
    height: 2.5vw;
}
.services-content-container-left {
    width: 2.5vw;
}
.services-content-container-right {
    width: 2.5vw;
}

.services-content-video {
    width: 150%;
    margin-left: -25%;
    height: auto;
    object-fit: contain;
    object-position: center;
    position: relative;
    z-index: 0;
}

/* PROJECTS */

.projects {
    gap: 5vw;
    padding: 0;
}
.projects-mobile {
    display: flex;
}
.projects-desktop {
    display: none;
}

.projects-content {
    height: 90vw;
}

.projects-gradient-top {
    height: 5vw;
}

.projects-gradient-bottom {
    height: 5vw;
}

.project-content-wrapper {
    width: 100%;
    height: 120vw;
    display: flex;
}

.projects-carousel-row {
    display: flex;
    width: 100%;
}

.projects-carousel-item {
    flex: 0 0 100vw;
    height: 120vw;
}

.embla__dots {
    gap: 1.5vw;
    bottom: 10vw;
}
.embla__dot {
    height: 2vw;
}
.embla__dot:after {
    width: 2vw;
    height: 2vw;
}
.embla__dot--selected:after {
    width: 7.5vw;
}

/* TECHSTACK SECTION */

.techstack-content {
    gap: 5vw;
}

.techstack-container {
    gap: 2.5vw;
}

.techstack-item-big, .techstack-item-small {
    border-radius: 15px;
    padding: 10vw;
}

.techstack-item-big {
    width: 90vw;
    height: 50vw;
}

.techstack-item-small {
    width: 90vw;
    height: 100vw;
}

.techstack-item-small-border-radius {
    border-radius: 15px;
}

.techstack-item-no-padding {
    padding: 0;
}

.techstack-item-no-padding-border {
    border-radius: 15px;
}

.techstack-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.techstack-item-content-center {
    padding-top: 11vw;
}

.techstack-item-content-video {
    border-radius: 15px;
}

.techstack-item-content-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.techstack-item-cards {
    padding-bottom: 20vw;
    margin-left: 1vw;
}

.techstack-item-card {
    width: 65vw;
    height: 32.5vw;
    border-radius: 15px;
    padding: 5vw;
}

.techstack-item-card-2 {
    margin-bottom: 10vw;
}

.techstack-item-card-content-top-image {
    width: 5vw;
    height: 5vw;
    object-fit: contain;
}

.techstack-item-card-animated-1 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-25vw) translateX(calc(10% + 2%)) translateY(-15%);
    margin-left: -15vw;
    margin-bottom: 5vw;
    opacity: 1;
}
.techstack-item-card-animated-2 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-15%);
    margin-left: -15vw;
    margin-bottom: 0;
}
.techstack-item-card-animated-3 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(25vw) translateX(calc(10% - 2%)) translateY(-15%);
    margin-left: -15vw;
    margin-bottom: -5vw;
}

.techstack-item-card-animated-1:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-25vw) translateX(calc(10% + 2%)) translateY(-67.5%);
}
.techstack-item-card-animated-2:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-67.5%);
}
.techstack-item-card-animated-3:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(25vw) translateX(calc(10% - 2%)) translateY(-25%);
}

.techstack-item-content-column {
    gap: 5vw;
}

.techstack-item-small-mobile-big {
    height: 125vw;
}

.techstack-item-content-column-slider {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.techstack-item-content-column-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.25;
    object-fit: cover;
}

.techstack-item-content-column-slider-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.techstack-item-content-column-slider-carousel-row {
    display: flex;
    width: 100%;
}

.techstack-item-content-column-slider-item {
    flex: 0 0 20vw;
    height: 20vw;
    border-radius: 10px;
    margin-left: 2.5vw;
}

.techstack-item-content-column-slider-item-child {
    padding: 5vw;
}

.techstack-item-content-column-textbox {
    gap: 1.5vw;
}

.techstack-item-content-column-bottom-button {
    height: 7.5vw;
    padding: 0 2.5vw;
}

.techstack-item-content-column-bottom-left, .techstack-item-content-column-bottom-center, .techstack-item-content-column-bottom-right {
    width: 33%;
}

.techstack-item-content-column-bottom-right {
    justify-content: flex-end;
}

.embla__dots-small {
    display: flex;
    gap: 1.5vw;
}

.embla__dot-small {
    height: 2vw;
}
.embla__dot-small:after {
    width: 2vw;
    height: 2vw;
}
.embla__dot--selected-small:after {
    width: 5vw;
    background-color: white;
}

.techstack-item-big-no-gradient {
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075);
}

/* TESTIMONIALS */

.testimonials {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.testimonials-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.testimonials-content-textbox {
    padding: 0 10vw;
}

.testimonials-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.testimonials-carousel-row {
    gap: 2.5vw;
}

.testimonials-item-padding {
    flex: 0 0 2.5vw;
}

.testimonials-item {
    flex: 0 0 70vw;
    height: 85vw;
    padding: 10vw;
    border-radius: 15px;
}

.testimonials-item-grid {
    width: 70vw;
    height: 85vw;
    background-size: 10vw 10vw;
}

.testimonials-item:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

.testimonials-item-profile {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.testimonials-item-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-item-center {
    gap: 0.5vw;
}

.testimonials-content-bottom {
    padding: 0 5vw;
    gap: 10vw;
}

.testimonials-content-bottom-buttons {
    gap: 2.5vw;
}

/* KPI SECTION */

.kpi {
    height: fit-content;
}

.kpi-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5vw;
}

.kpi-content-row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
    perspective: 2000px;
}

.kpi-content-item {
    width: 90vw;
    height: 50vw;
    gap: 5vw;
    border-radius: 15px;
    padding: 10vw;
}

.kpi-item-textbox {
    gap: 2.5vw;
}

.kpi-item-textbox-number {
    margin-bottom: -2.5vw;
}

.kpi-item-textbox-number-text {
    font-size: 15vw;
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 20%, #fff 80%);
}

.kpi-item-textbox-number-gradient {
    display: none;
}

.kpi-item-button {
    bottom: 5vw;
    left: 5vw;
    width: 7.5vw;
    height: 7.5vw;
}

.kpi-item-button-icon {
    width: 2.5vw;
    height: 2.5vw;
}

.kpi-item-grid {
    width: 90vw;
    height: 50vw;
    background-size: 10vw 10vw;
}

/* FLOWER */

.flower {
    width: 100%;
}

.flower-content {
    height: 90vw;
    gap: 0vw;
}

.flower-content-sequence {
    height: 60vw;
}

.flower-content-textbox {
    bottom: 0;
    left: 5vw;
    width: 90vw;
    padding: 0;
    gap: 1vw;
}

.flower-content-textbox-item {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.flower-content-right-content-item {
    width: 25vw;
    height: 10vw;
    border-radius: 15px;
}

.flower-content-right-content-item-image {
    width: 15vw;
}

/* SUBSCRIBE */

.subscribe {
    width: 100%;
    height: fit-content;
}

.subscribe-content {
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    padding: 10vw;
    gap: 10vw;
    display: flex;
    flex-direction: column;
}

.subscribe-content-slider {
    display: none;
}

.subscribe-content-center {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.subscribe-content-center-textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.subscribe-content-center-bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    text-align: center;
}

.subscribe-content-center-button {
    width: 100%;
    height: 15vw;
    padding: 0 5vw;
    padding-right: 2.5vw;
}

.subscribe-content-center-button-box {
    height: 10vw;
    padding: 1vw 5vw;
}

.subscribe-content-mobile-slider {
    width: 100%;
    height: fit-content;
    display: flex;
}

.subscribe-content-mobile-slider-content {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 5vw;
}

.subscribe-content-slider-item {
    width: 50vw;
    height: 75vw;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

}